params {
    step = null
    vcf = null
    bam = null
    reference = null
    outdir = "${projectDir}/results"
    bed = "${projectDir}/assets/gr37.no_mt_unmapped.bed.gz"
    picard = "${projectDir}/assets/picard.jar"
    minMapq = 0
    minBaseq = 0
    minDepth = 0
    splitReads = 7500000
    coverage = null
    medianInsert = null
    mutationType = "snvs"

    // Unused yet
    model = null
    model_name = null

    version = false
    help = false
}

params.outdirPreprocess = "${params.outdir}/preprocess"
params.outdirClassify = "${params.outdir}/classify"

profiles {
    cloud {
        singularity.enabled = false
        docker {
          enabled = true
          runOptions = "--entrypoint ''"
        }
        process {
            executor = 'local'
            withName:pileup {
                container "papaemmelab/annotate-w-pileup:v0.1.0"
            }
        }
    }

    hpc_slurm {
        singularity {
            enabled = true
            autoCleanUp = true
            autoMounts = true
            cacheDir = '/data1/papaemme/isabl/opt/singularity'
            envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
        }
        process {
            executor = 'slurm'
            queue = 'componc_cpu,componc_gpu'
        }
    }
    
}