params {
    step = null
    vcf = null
    bam = null
    reference = null
    coverage = 15
    median_insert = 254
    min_mapq = 0
    min_baseq = 0
    min_depth = 0
    model = null
    model_name = null
    version = false
    help = false
}

docker {
    enabled = true
    entrypoint = ''
}
