params {
    step = null
    vcf = null
    bam = null
    reference = null
    coverage = 15
    median_insert = 254
    min_mapq = 0
    min_baseq = 0
    min_depth = 0
    model = null
    model_name = null
    version = false
    help = false
}

profiles {
    cloud {
        singularity.enabled = false
        docker {
          enabled = true
          runOptions = "--entrypoint ''"
        }
        process {
            executor = 'local'
            withName:pileup {
                container "papaemmelab/annotate-w-pileup:v0.1.0"
            }
        }
    }

    hpc_slurm {
        singularity {
            enabled = true
            autoCleanUp = true
            autoMounts = true
            cacheDir = '/data1/papaemme/isabl/opt/singularity'
            envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
        }
        process {
            executor = 'slurm'
            queue = 'componc_cpu,componc_gpu'
        }
    }
    
}