params {
    vcf = "${projectDir}/tests/data/vcf/test_snv.vcf"
    bam = "${projectDir}/tests/data/tumor/tumor.bam"
    reference = "${projectDir}/tests/data/reference/reference.fasta"
    bed = "${projectDir}/tests/data/reference/reference.bed"
    outdir = "${projectDir}/tests/outdir"
    picardMetrics = "${projectDir}/tests/data/picard"
    model = "${projectDir}/tests/data/models/snv_model.pkl"
    coverage = 76
    medianInsert = 254
    modelName = "ARTIFACT"
}

params.outdirPreprocess = "${params.outdir}/preprocess"
params.outdirClassify = "${params.outdir}/classify"